@model IEnumerable<GestaoFluxoFinanceiro.Aplicacao.ViewModels.Financeiro.MovimentoProfissionalViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="album py-5 bg-light">
    <div class="container">
        <vc:Summary></vc:Summary>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Valores Mensais dos Profissionais</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p supress-by-claim-name="Adm" supress-by-claim-value="Adicionar">
                                    <a class="btn btn-info" asp-action="Create">Novos Valores</a>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 feature_col">
                                <table class="table table-hover" id="tbl">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Valor Total
                                            </th>
                                            <th>
                                                Valor a Receber
                                            </th>
                                            <th>
                                                Valor do Profissional
                                            </th>
                                            <th>
                                                Mês
                                            </th>
                                            <th>
                                                Situação
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(itemmodel => item.Profissional)
                                                </td>
                                                <td>
                                                    @item.ValorTotal.ToString("C")
                                                </td>
                                                <td>
                                                    @item.ValorReceber.ToString("C")
                                                </td>
                                                <td>
                                                    @item.ValorProfissional.ToString("C")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(itemmodel => item.CompetenciaCobranca)
                                                </td>

                                                @if (item.Situacao == 3)
                                                {
                                                    <td><p style="color:cornflowerblue">Em aberto</p></td>
                                                }
                                                @if (item.Situacao == 1)
                                                {
                                                    <td><p style="color:darkgreen"><strong>Quitado</strong></p></td>
                                                }

                                                <td class="text-right">
                                                    <a class="btn btn-warning" asp-controller="MovimentoFinanceiroProfissional" asp-action="Edit" asp-route-id="@item.Id"><spam class="fas fa-money-bill-wave"></spam> </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <a class="btn btn-info" href="@Url.Action("Index","Financeiro")">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @section scripts{

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>

        <script>
            $(document).ready(function () {
                Paginacao();
            });
        </script>
    }
}




